{% extends 'landing.html' %}
{% block content %}
<!-- end .main-slider-->
<div class="section-title-page area-bg area-bg_dark area-bg_op_70">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page bg-primary_a">Nosotros</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>
<!-- end .b-about-->
<div class="info-group block-table block-table_md">
    <div class="info-group__section col-md-6">
        <section class="b-info b-info_mod-a area-bg area-bg_op_80 area-bg_prim parallax"
                 style="background-image: url(assets/media/content/bg/bg-4.jpg)">
            <div class="area-bg__inner">
                <h2 class="b-info__title"><strong class="b-info__title_lg">MISIÓN</strong>
                </h2>
                <div class="b-info__desc">Iluminar la vida de nuestros clientes y colaboradores con productos de
                    calidad, funcionales e innovadores.

                </div>
            </div>
        </section>
    </div>
    <div class="info-group__section col-md-6">
        <section class="b-info b-info_mod-b area-bg area-bg_op_80 area-bg_dark-2 parallax"
                 style="background-image: url(assets/media/content/bg/bg-3.jpg)">
            <div class="area-bg__inner">
                <h2 class="b-info__title"><strong class="b-info__title_lg">VISIÓN</strong>
                </h2>
                <div class="b-info__desc">Establecer a Auto1partes como la primera marca asociada a soluciones
                    de iluminación vehicular a nivel de Ecuador y Sudamérica.

                </div>
            </div>
        </section>
        <br><br>
    </div>
</div>
{% endblock %}

