   {% extends 'landing.html' %}
{% block content %}
    <!-- end .header-->
    <div class="section-title-page area-bg area-bg_dark area-bg_op_70">
        <div class="area-bg__inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="b-title-page bg-primary_a">Contactanos</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end .main-slider-->
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-advantages-1">
                    <section class="b-advantages-1"><i class="b-advantages-1__icon flaticon-061-telephone-1"></i>
                        <h3 class="b-advantages-1__title">Teléfono</h3>
                        <div class="b-advantages-1__info">+593 996695218 <br>
                            +593 999956811
                        </div>
                        <span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                    <section class="b-advantages-1 active"><i class="b-advantages-1__icon flaticon-072-email"></i>
                        <h3 class="b-advantages-1__title">Correo Electrónico</h3>
                        <div class="b-advantages-1__info">Auto1partes@hotmail.com <br>
                        </div>
                        <span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                    <section class="b-advantages-1"><i class="b-advantages-1__icon flaticon-059-placeholder-1"></i>
                        <h3 class="b-advantages-1__title">Dirección</h3>
                        <div class="b-advantages-1__info">Santo Domingo, Avenida Quevedo y Juan Pio Montufar 408.
                        </div>
                        <span class="ui-decor-2"></span>
                    </section>
                    <section class="b-advantages-1"><i class="b-advantages-1__icon flaticon-005-watch"></i>
                        <h3 class="b-advantages-1__title">Horario</h3>
                        <div class="b-advantages-1__info">Santo Domingo, Avenida Quevedo y Juan Pio Montufar 408.
                        </div>
                        <span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                </div>
                <!-- end .section-advantages-1-->
            </div>
        </div>
    </div>
    <br><br><br>

    <div class="block-table__cell container">
        <div class="block-table__inner">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7780521266495!2d-79.18104419974645!3d-0.25742020561838036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d547df6e7c68ab%3A0x1c89e2622f9d7ef8!2sEl%20Palacio%20Del%20Accesorio!5e0!3m2!1ses-419!2smx!4v1594334562320!5m2!1ses-419!2smx"
                    width="1200" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
        </div>
    </div>
</div>
<!-- end .block-table-->
    {% endblock %}
