<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Motor Land / Portfolio</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="HandheldFriendly" content="true"/>
    <link rel="stylesheet" href="{% static 'assets/landingCss/master.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/landingCss/cart.css' %}"/>

    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <!--[if lt IE 9 ]>

    <script src="{% static 'assets/landingJs/separate-js/html5shiv-3.7.2.min.js'%}" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<![endif]-->
</head>

<body>
<!-- Loader-->
<!-- Loader end-->
<!-- ==========================-->
<!-- MOBILE MENU-->
<!-- ==========================-->
<div data-off-canvas="mobile-slidebar left overlay">
    <a class="navbar-brand scroll" href="home.html">
        <img class="normal-logo img-responsive visible-xs visible-sm"
             src="{% static 'assets/landingMedia/general/logo.png' %}" alt="logo"/>
        <img class="scroll-logo img-responsive hidden-xs hidden-sm"
             src="{% static 'assets/landingMedia/general/logo-dark.png' %}" alt="logo"/>
    </a>
    <ul class="nav navbar-nav">
        <li>
            <h4><a href="">Mobile sidebar</a></h4>
        </li>

        <li>
            <a href="home.html" tabindex="-1">Home one page</a>
        </li>

        <li>
            <a href="repair-shop.html">Nosotros</a>
        </li>
        <li><a href="car-rental.html">Catalogo</a>
        </li>
    </ul>
</div>
<div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">

    <!-- end switcher-->
    <!-- ==========================-->
    <!-- SEARCH MODAL-->
    <!-- ==========================-->
    <div class="header-search open-search">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="navbar-search">
                        <form class="search-global">
                            <input class="search-global__input" type="text" placeholder="Type to search"
                                   autocomplete="off" name="s" value=""/>
                            <button class="search-global__btn"><i class="icon stroke icon-Search"></i>
                            </button>
                            <div class="search-global__note">Begin typing your search above and press return to
                                search.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <button class="search-close close" type="button"><i class="fa fa-times"></i>
        </button>
    </div>
    <div data-off-canvas="slidebar-1 left overlay">
        <ul class="yamm main-menu nav navbar-nav">
            <li class="dropdown"><a href="{% url 'users:landing' %}">Inicio</a>
            </li>
            <li class="dropdown"><a>Nosotros</a>
            </li>
            <li><a href="repair-shop.html">Contáctanos</a>
            </li>
            <li><a href="{% url "shop:ver_catalogo" %}">Catálogo de productos</a>
            </li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'users:login' %}">Perfil</a>
                </li>
            {% endif %}

        </ul>
    </div>
    <header class="header header-boxed-width navbar-fixed-top header-background-white header-color-black header-topbar-dark header-logo-black header-topbarbox-1-left header-topbarbox-2-right header-navibox-1-left header-navibox-2-right header-navibox-3-right header-navibox-4-right">
        <div class="container container-boxed-width">
            <div class="top-bar">
                <div class="container">
                    <div class="header-topbarbox-1">
                        <ul>
                            <li><i class="icon fa fa-clock-o"></i> Lunes - Viernes: 8:00 a 18:00</li>
                            <li>Sábados: 8:00 a 14:00
                            </li>
                        </ul>
                    </div>
                    <div class="header-topbarbox-2">
                        <ul class="social-links">
                            <li><a href="/" target="_blank"><i class="social_icons fa fa-twitter"></i></a>
                            </li>
                            <li><a href="/" target="_blank"><i class="social_icons fa fa-facebook"></i></a>
                            </li>
                            <li><a href="/" target="_blank"><i class="social_icons fa fa-linkedin"></i></a>
                            </li>
                            <li class="li-last"><a href="/" target="_blank"><i class="social_icons fa fa-instagram"></i></a>
                            </li>
                            <li><a href="/" target="_blank"><i class="social_icons fa fa-youtube-play"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="navbar" id="nav">
                <div class="container">
                    <div class="header-navibox-1">
                        <!-- Mobile Trigger Start-->
                        <button class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button">
                            <i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i>
                        </button>
                        <!-- Mobile Trigger End-->
                        <a class="navbar-brand scroll" href="home.html">
                            <img class="normal-logo img-responsive" src="/static/images/logoNB.png" alt="logo" width="202" height="44">
                            <img class="scroll-logo hidden-xs img-responsive" src="/static/images/logoNB.png" alt="logo" width="202" height="44">
                        </a>
                    </div>
                    <div class="header-navibox-2">
                        <ul class="yamm main-menu nav navbar-nav">

                            <li class="dropdown"><a href="{% url 'users:landing' %}">Inicio</a>
                            </li>
<li class="dropdown"><a href="{% url 'dashboard:nosotros' %}">Nosotros</a>
                </li>
                <li><a href="{% url 'dashboard:contacto' %}">Contáctanos</a>
                            </li>
                            <li><a href="{% url "shop:ver_catalogo" %}">Catálogo de productos</a>
                            </li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'users:login' %}">Perfil</a>
                                </li>
                            {% endif %}

                            <li aria-haspopup="true" aria-expanded="false" class="btn-group dropdown">
                                <button type="button" class="btn dropdown-button " data-toggle="modal"
                                        data-target="#myModal">
                                    <div class="header-cart">
                                        <a href="#">
                                            <i class="icon fa fa-shopping-basket no-background-color"
                                               aria-hidden="true"></i>
                                            <span class="header-cart-count bg-primary ">0</span>
                                        </a>
                                    </div>

                                </button>
                                <strong><span class="cart-total-price-outside">

                                </span></strong>

                                <!--


                                -->
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end .header-->
    <div class="section-title-page area-bg area-bg_dark area-bg_op_70">
        <div class="area-bg__inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="b-title-page bg-primary_a">Productos</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end .b-title-page-->

    <div class="container">
        <div class="row" id="productos">

                        {% block content %}
                        {% endblock %}
                        <!-- end .b-goods-1-->
                    </div>
                    <!-- end .goods-group-2-->
                </main>
                <!-- end .l-main-content-->
            </div>

        </div>
    </div>
    <footer class="footer area-bg">
        <div class="area-bg__inner">
            <div class="footer__main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer-section">
                                <a class="footer__logo" href="home.html">
                                    <img class="img-responsive"
                                         src="{% static 'assets/landingMedia/general/logo.png' %}" alt="Logo"/>
                                </a>
                                <div class="footer__info">Duis aute irure reprehend voluptate velit ese acium fugiat
                                    nula pariatur exceptus ipsum dolor sit amet consectetur adipisic elita sed eiusmod
                                    tempor.
                                </div>
                                <ul class="social-net list-inline">
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="facebook.com"><i
                                            class="icon fa fa-facebook"></i></a>
                                    </li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="twitter.com"><i
                                            class="icon fa fa-twitter"></i></a>
                                    </li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="linkedin.com"><i
                                            class="icon fa fa-linkedin"></i></a>
                                    </li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="instagram.com"><i
                                            class="icon fa fa-instagram"></i></a>
                                    </li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="youtube.com"><i
                                            class="icon fa fa-youtube-play"></i></a>
                                    </li>
                                </ul>
                                <!-- end .social-list-->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <section class="footer-section footer-section_list-columns">
                                <h3 class="footer-section__title ui-title-inner">Top Brands</h3>
                                <ul class="footer-list footer-list_columns list-unstyled">
                                    <li class="footer-list__item"><a class="footer-list__link" href="about.html">Alfa
                                        Romeo</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link"
                                                                     href="about.html">Ferrari</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link" href="about.html">BMW
                                        Series</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link" href="about.html">Mercedes</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link" href="about.html">Aston
                                        Martin</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link"
                                                                     href="about.html">Toyota</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link"
                                                                     href="about.html">Opel</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link" href="about.html">Land
                                        Rover</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link"
                                                                     href="about.html">Mclaren</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link"
                                                                     href="about.html">Peogeot</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link"
                                                                     href="about.html">Renault</a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                        <div class="col-md-2">
                            <section class="footer-section footer-section_list-one">
                                <h3 class="footer-section__title ui-title-inner">Categories</h3>
                                <ul class="footer-list list-unstyled">
                                    <li class="footer-list__item"><a class="footer-list__link"
                                                                     href="about.html">Trucks</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link" href="about.html">Sports
                                        Cars</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link" href="about.html">Crossovers</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link" href="about.html">Hybrid
                                        Cars</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link" href="about.html">Hybrid
                                        SUVs</a>
                                    </li>
                                    <li class="footer-list__item"><a class="footer-list__link" href="about.html">Future
                                        Cars</a>
                                    </li>
                                </ul>
                            </section>
                        </div>

                        </nav>
                    </div>


                </div>
            </div>
            <!-- end .b-title-page-->
        </div>

        <!-- .footer-->
</div>
<!-- end layout-theme-->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content" id="purchase-status-modal" hidden>
            <div class="row" id="success-purchase" hidden>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <br>
                    <h4>Tu orden fue procesada exitosamente</h4>
                    <br>
                </div>
            </div>

            <div class="row" id="fail-purchase" hidden>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <br>
                    <h4>Hemos tenido problemas para procesar tu orden</h4>
                    <br>
                </div>

            </div>
        </div>
        <!-- Modal content-->
        <div class="modal-content" id="shopping-cart-modal">

            <div class="modal-header">

                <h4 class="modal-title">Mi Orden
                    <button type="button" class="close align-right" style="float: right;" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </h4>
            </div>
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#carrito" aria-controls="uploadTab" role="tab"
                                                              data-toggle="tab"><h6>Mi Carrito</h6></a>
                    </li>
                    <li role="presentation"><a href="#direcciones" aria-controls="browseTab" role="tab"
                                               data-toggle="tab"><h6>Mis Direcciones</h6></a>
                    </li>
                    <li role="presentation"><a href="#pagar" aria-controls="browseTab" role="tab" data-toggle="tab"><h6>
                        Pagar</h6></a>

                    </li>
                    <li role="presentation"><a href="#resultado" aria-controls="browseTab" role="tab" data-toggle="tab"
                                               hidden></a>

                    </li>

                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active no_top_padding" id="carrito">
                        <div class="modal-body">
                            <div class="cart-items">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <span class="modal-title total_price">Total:<span class="cart-total-price"></span> </span>
                            <span class="hidden " id="token" value="{% csrf_token %}">{% csrf_token %}</span>
                            <span class="hidden" value="{{ user.can_buy }}"></span>
                            {% if user.can_buy == True %}
                                <button type="button" class="btn btn-primary" href="#direcciones"
                                        aria-controls="browseTab" role="tab" data-toggle="tab">Seleccionar Direccion de
                                    entrega
                                </button>
                                </button>
                            {% elif user.can_buy == False %}
                                <button type="button" class="btn btn-default btn-debt">Tienes adeudo pendiente</button>
                            {% else %}
                                <button type="button" class="btn btn-default btn-debt"><a href="">Registrate para poder
                                    comprar</a></button>
                            {% endif %}
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane no_top_padding" id="direcciones">
                        <div class="modal-body">
                            {% block user_addresses %}
                            {% endblock %}
                        </div>
                        <div class="modal-footer">

                            <span class="hidden " id="token" value="{% csrf_token %}">{% csrf_token %}</span>
                            <span class="hidden" value="{{ user.can_buy }}"></span>
                            {% if user.can_buy == True %}
                                <button type="button" class="btn btn-primary" href="#pagar" aria-controls="browseTab"
                                        role="tab" data-toggle="tab">Proceder al pago
                                </button>
                                </button>
                            {% elif user.can_buy == False %}
                                <button type="button" class="btn btn-default btn-debt">Tienes adeudo pendiente</button>
                            {% else %}
                                <button type="button" class="btn btn-default btn-debt"><a href="">Registrate para poder
                                    comprar</a></button>
                            {% endif %}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane no_top_padding" id="pagar">

                        <div class="modal-body">

                            {% if user.is_wholesaler %}
                                <span class="modal-title"><h5>Resumen de compra</h5></span>
                                <div class="row" id="resumen">

                                    <div class="col-md-2">
                                        <h6>Código de producto</h6>
                                    </div>
                                    <div class="col-md-4">
                                        <h6>Descripción</h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6>Cantidad</h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6>P. Unitario</h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6>P. Total</h6>
                                    </div>
                                <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="modal-footer">

                                <span class="modal-title total_price">Total:<span
                                        class="cart-total-price-to-pay"></span> </span>
                                    <span class="hidden " id="token" value="{% csrf_token %}">{% csrf_token %}</span>
                                    {% if user.can_buy == True %}
                                        <button type="button" class="btn btn-primary btn-purchase " href="#pagar"
                                                aria-controls="browseTab" role="tab" data-toggle="tab">Ordenar
                                        </button>
                                    {% elif user.can_buy == False %}
                                        <button type="button" class="btn btn-default btn-debt">Tienes adeudo pendiente
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-default btn-debt"><a href="">Registrate
                                            para
                                            poder
                                            comprar</a></button>
                                    {% endif %}
                                </div>
                            {% else %}

                                <div class="row" id="resumen">

                                    <div class="col-md-2">
                                        <h6>Código de producto</h6>
                                    </div>
                                    <div class="col-md-4">
                                        <h6>Descripción</h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6>Cantidad</h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6>P. Unitario</h6>
                                    </div>
                                    <div class="col-md-2">
                                        <h6>P. Total</h6>
                                    </div>
                                <div class="col-md-12">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="modal-footer">
                                <span class="modal-title total_price">Total:<span
                                        class="cart-total-price"></span> </span>
                                    <span class="hidden " id="token" value="{% csrf_token %}">{% csrf_token %}</span>
                                    {% if user %}
                                        <button type="button" class="btn btn-primary btn-purchase " href="#pagar"
                                                aria-controls="browseTab" role="tab" data-toggle="tab">Pagar
                                        </button>

                                    {% else %}
                                        <button type="button" class="btn btn-default btn-debt"><a href="">Registrate
                                            para
                                            poder
                                            comprar</a></button>
                                    {% endif %}
                                </div>

                            {% endif %}

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
</div>
<!-- ++++++++++++-->
<!-- MAIN SCRIPTS-->
<!-- ++++++++++++-->
<script src="{% static 'assets/landingLibs/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'assets/landingLibs/jquery-migrate-1.2.1.js' %}"></script>
<!-- Bootstrap-->
<script src="{% static 'assets/landingLibs/bootstrap/bootstrap.min.js' %}"></script>
<!-- User customization-->
<script src="{% static 'assets/landingJs/custom.js' %}"></script>
<!-- Headers scripts-->
<script src="{% static 'assets/landingPlugins/headers/slidebar.js' %}"></script>
<script src="{% static 'assets/landingPlugins/headers/header.js' %}"></script>
<!-- Select customization & Color scheme-->
<script src="{% static 'assets/landingPlugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<!-- Slider-->
<script src="{% static 'assets/landingPlugins/owl-carousel/owl.carousel.min.js' %}"></script>
<!-- Pop-up window-->
<script src="{% static 'assets/landingPlugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<!-- Mail scripts-->
<script src="{% static 'assets/landingPlugins/jqBootstrapValidation.js' %}"></script>
<!-- Filter and sorting images-->
<script src="{% static 'assets/landingPlugins/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/landingPlugins/isotope/imagesLoaded.js' %}"></script>
<!-- Progress numbers-->
<script src="{% static 'assets/landingPlugins/rendro-easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'assets/landingPlugins/rendro-easy-pie-chart/waypoints.min.js' %}"></script>
<!-- NoUiSlider-->
<script src="{% static 'assets/landingPlugins/noUiSlider/nouislider.min.js' %}"></script>
<script src="{% static 'assets/landingPlugins/noUiSlider/wNumb.js' %}"></script>
<!-- Animations-->
<script src="{% static 'assets/landingPlugins/scrollreveal/scrollreveal.min.js' %}"></script>
<!-- cart -->
<script src="{% static 'assets/scripts/cart.js' %}"></script>
<script src="{% static 'assets/scripts/filters.js' %}"></script>

</body>

</html>