{% extends 'store.html' %}
{% load static %}
{% block content %}

    {% if products %}
        {% for product in products %}
            <section class="b-goods-1 b-goods-1_mod-a">
                <div class="row">
                    <div class="b-goods-1__img col-md-12">
                        <a class="js-zoom-images "
                           href="{% static 'assets/landingMedia/components/b-goods/263x210_1.jpg' %}">
                            <img class="img-responsive center-block"
                                 src="{% static 'assets/landingMedia/components/b-goods/263x210_1.jpg' %}" alt="foto"/>
                        </a>
                        <span class="b-goods-1_price hidden-th">{{ product.public_price }}</span>
                    </div>
                    <div class="b-goods-1__inner row">
                        <div class="b-goods-1_header col-md-12"><a class="b-goods-1_choose hidden-th"
                                                                   href="listing-1.html"><i
                                class="icon fa fa-heart-o"></i></a>
                            <h2 class="b-goods-1__name"><a href="car-details.html">{{ product.name }}</a></h2>
                        </div>
                        <div class="b-goods-1__info col-md-12"> {{ product.description }}
                        </div>
                        <span class="b-goods-1_price_th text-primary visible-th col-md-12">$ {{ product.public_price }}
                                            </span>
                        <span class="b-goods-1_price_th text-primary visible-th col-md-12">$ {{ product.wholesale_price }}
                                            </span>
                        <div class="b-goods-1__section">
                            <div class="collapse in" id="desc-1">
                                <ul class="b-goods-1__desc list-unstyled">
                                    <li class="b-goods-1__desc-item">{{ product.car_brand }}</li>
                                    <li class="b-goods-1__desc-item">{{ product.car_model }}</li>
                                    <li class="b-goods-1__desc-item">{{ product.car_year }}</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        {% endfor %}
    {% endif %}
{% endblock %}