{% extends 'home.html' %}
{% block content %}
<div class="container-fluid">
    <br>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Nombre comercial</th>
            <th scope="col">RUC</th>
            <th scope="col">Dirección</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Correo electrónico</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Teléfono celular</th>
            <th scope="col">Rol actual</th>
            <th scope="col">Cambio de rol</th>




        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td scope="row">{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.ruc }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.birthday }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.mobile }}</td>
            <td>{% if user.is_retailer %}
                            Minorista
                            {% elif user.is_wholesaler %}
                            Mayorista
                            {% elif user.is_administrator %}
                            Administrador
                        {% endif %}</td>
            <td><a href="{% url  'users:rol' id=user.id %}"
                data-animation="blur" data-overlaycolor="#36404a">
                <button type="button" class=" btn btn-success"><i class="mdi mdi-account"></i>
                </button>
                </a></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
{% endblock %}
