{% extends 'home.html' %}
{% block content %}
    <div class="container container-fluid">
        <h1>Actualizar Estado de Orden</h1>
        <br>
        <form class="col-md-4" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="row">
                <div class="col-md-7">
                    <button class="btn btn-danger" href="{% url 'orders:ver_ordenes' %}" type="button">
                        Cancelar
                    </button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" type="submit">Guardar
                    </button>
                </div>
            </div>


    </form>

    </div>
{% endblock %}