{% extends 'home.html' %}
{% block content %}
    <div class="container-fluid ">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <br>
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}


        <h1>Orden: {{ order.id }}</h1>
        <h3>Estatus: {{ order.status }}</h3>
        <h3>Precio Total: {{ order.total_price }}</h3>
        <div class="row">
            <div class="col-md-12">
                <h3>Direccion de entrega</h3>
            </div>
            <div class="col-md-3">
                <span>Nombre: {{ address.name }}</span>
            </div>
            <div class="col-md-3">
                <span>Estado: {{ address.state }}</span>
            </div>
            <div class="col-md-3">
                <span>Ciudad: {{ address.city }}</span>
            </div>
            <div class="col-md-3">
                <span>Calle: {{ address.address }}</span>
            </div>

        </div>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id de producto</th>
                    <th scope="col">Nombre del producto</th>
                    <th scope="col">cantidad</th>
                    <th scope="col">Precio a la venta</th>
                </tr>
            </thead>
            <tbody>
            {% if order_products %}

                {% for product in products %}

                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}, {{ product.description}}</td>
                        <td>
                            {% for o in order_products %}
                                {% if o.product_id == product.id  %}
                                    {{ o.quantity }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for o in order_products %}
                                {% if o.product_id == product.id  %}
                                    {{ o.price }}
                                {% endif %}
                            {% endfor %}
                        </td>


                    </tr>
                {% endfor %}

            {% endif %}




            </tbody>
        </table>
    </div>
{% endblock %}

{% block modals %}
    {% if products %}
        {% for product in products %}

            <div class="modal fade" id="delete-modal-{{ product.id }}" tabindex="-1" role="dialog"
                         aria-hidden="true">
                <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ¿Estás seguro de que quieres eliminar el producto "{{ product.name }}" permanentemente?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <a class="btn btn-danger waves-effect waves-light mr-1"
                                   href="{% url 'productos:delete_product' product.id %}">Eliminar</a>
                            </div>
                        </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}