{% extends 'home.html' %}
{% block content %}
<div class="container-fluid ">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <br>
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}


    <h1>Ordenes</h1>
    <div class="row">
        <form method='GET' action="{% url 'orders:search' %}"
              class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
            <input class="form-control" type="text" name="q" placeholder="Preguntar"/>
            <button type="submit" value="{{ query|escape }}" class=" btn btn-danger"><i
                    class="mdi mdi-account">Buscar</i>
            </button>
        </form>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id de Orden</th>
            {% if customers %}
            <th scope="col">Nombre del cliente</th>
            <th scope="col">RUC</th>
            {% else %}
            <th scope="col">Direccion de entrega</th>
            {% endif %}
            <th scope="col">Estatus</th>
            <th scope="col">Paquetería</th>
            <th scope="col">Rastreo</th>
            <th scope="col">Precio total</th>


        </tr>
        </thead>
        <tbody>
        {% if orders %}

        {% for order in orders %}

        <tr>
            <td>{{ order.id }}</td>
            <td>

                {% if customers %}
                {% for customer in customers %}
                {% if customer.id == order.user.id %}
                {{ customer.first_name }}
                {{ customer.last_name }}
            <td>
                {{ customer.ruc }}
            </td>
            {% endif %}
            {% endfor %}

            {% else %}
            {% for address in addresses %}
            {% if address.id == order.address.id %}
            {{ address.name }},
            {{ address.address }}
            {% endif %}
            {% endfor %}
            {% endif %}
            </td>
            <td>
                {{ order.status }}
            </td>
            <td>{{ order.carrier }}</td>
            <td>{{ order.tracking_code }}</td>
            <td>{{ order.total_price }}</td>

            <td>
                <a href="{% url  'orders:ver_desgloce' id=order.id %}"
                   data-animation="blur" data-overlaycolor="#36404a">
                    <button type="button" class=" btn btn-success"><i class="fa fa-eye"></i>
                    </button>
                </a>
            </td>

        </tr>
        {% endfor %}

        {% else %}
        <h1 id="msg">No hay ordenes registradas</h1>
        {% endif %}


        </tbody>
    </table>
</div>
{% endblock %}

{% block modals %}
{% if products %}
{% for product in products %}

<div class="modal fade" id="delete-modal-{{ product.id }}" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que quieres eliminar el producto "{{ product.name }}" permanentemente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <a class="btn btn-danger waves-effect waves-light mr-1"
                   href="{% url 'productos:delete_product' product.id %}">Eliminar</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}